@charset "utf-8";
/* CSS Document */
img{border:0;}
.clear{clear:both;}
input, select, textarea{font-size:11px;font-family:Arial, Helvetica, sans-serif;}
table{width:100%;padding:0;border-collapse:collapse;}
td{padding:2px;border:1px solid #010825;line-height:15px;}
dfn{
	color: #84D6B0;
  font-size: 0.9em;
  font-style: italic;
}
label{vertical-align:middle;}
div#errorbox{color:red;background:white;border:1px solid red;padding:6px;line-height:16px;margin:4px 0;}
div#errorbox p{font-weight:bold;margin:2px 0px;font-size:14px;}
#pagetitle{margin-top:0;}
#cart_menu{
	width:180px;
	float:left;
	background:#eee;
	margin-right:10px;
	padding:8px 0;
	border:1px solid #ddd;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
div.vatline{text-align:right;}
.notice{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid red;
	color: red;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
	text-align: center;
}
div.salebadge{position:absolute;top:36px;left:0px;z-index:2;}
#cart_content{
	width:100%;
}
#content{width:auto;}
#freeship{
	font-size: 1.8em;
	text-align: left;
	width: 251px;
}
#lifestyle{
	font-size: 1.8em;
	text-align: left;
	width: 272px;
	display:none;
}
#sameday
{
	font-size: 1.6em;
	letter-spacing:0.03em;
	line-height:1.3em;
	text-align: left;
	width: 251px;
	height:183px;
	position:relative;
	top:0;left:0;
	display:none;
}
#jscount{position:absolute;top:45px;left:10px;width: 230px; text-align:center;}
#jscount span.jsinfo{font-size:0.7em;}
#bread{clear:both;padding:3px;}
#searchandbread{border:1px solid #385276;margin-bottom:20px;background:#2B324D;}
#searchform form{margin:0;}
#search{
	margin:0;;
	width:150px;
}
#search label{display:none;}
#searchkeyword,#searchsubmit{font-size:11px;}
#searchkeyword{
	background:#283459;
	border:1px solid #000;
	color:#aeafb5;
	margin:0;
	padding:0;
	vertical-align:top;
	width:136px;
	display:inline;
}
#searchsubmit{
	background:none repeat scroll 0 0 #FFF;
	border:0;
	color:#7A8DA3;
	font-weight:bold;
	margin:0;
	padding:0;
	text-align:right;
	text-transform:uppercase;
}

/* BASKET HOVER */
#basketsummary{
	display:none;
}

#catthumbs,.prodthumbs{width:auto;}
#catthumbs td{text-align:center;border:0;}
#catthumbs td p{margin:0;text-align:center;border:1px solid #777;}
.prodthumbs td{border:0;}
table.lrgthumbs tr td.empty{border:0;}
table.lrgthumbs tr td.pimg{border:1px solid #ccc;padding:4px;width:284px;white-space:normal;}
table.lrgthumbs{position:relative;width:100%;}
table.lrgthumbs tr td{padding:0;border:1px solid #CCC;}
table.lrgthumbs tr td div div a.headbold{font-size:1.3em;text-transform:capitalize;}
.pprice{
	color: #13689D;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.3em;;
}
.foot td span.price{color:#FFF}
.headbold{color:#BCBDC0;font-weight:bold;}
.titlesbold{color:#BBC1CB;font-weight:bold;}
.head td,.foot td{font-weight:bold;font-size:12px;color:#FFF;}
.subhead td{color:#ddd;font-weight:bold;font-size:12px;}
.head td div.titles{padding-left:8px;color:#FFF;}
.head td,.foot td,.head td div.titles{
background: rgba(19,68,113,1);
background: -moz-linear-gradient(top, rgba(19,68,113,1) 0%, rgba(16,55,91,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,68,113,1)), color-stop(100%, rgba(16,55,91,1)));
background: -webkit-linear-gradient(top, rgba(19,68,113,1) 0%, rgba(16,55,91,1) 100%);
background: -o-linear-gradient(top, rgba(19,68,113,1) 0%, rgba(16,55,91,1) 100%);
background: -ms-linear-gradient(top, rgba(19,68,113,1) 0%, rgba(16,55,91,1) 100%);
background: linear-gradient(to bottom, rgba(19,68,113,1) 0%, rgba(16,55,91,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#134471', endColorstr='#10375b', GradientType=0 );
}
.subhead td{
background: rgba(56,98,138,1);
background: -moz-linear-gradient(top, rgba(56,98,138,1) 0%, rgba(48,83,115,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56,98,138,1)), color-stop(100%, rgba(48,83,115,1)));
background: -webkit-linear-gradient(top, rgba(56,98,138,1) 0%, rgba(48,83,115,1) 100%);
background: -o-linear-gradient(top, rgba(56,98,138,1) 0%, rgba(48,83,115,1) 100%);
background: -ms-linear-gradient(top, rgba(56,98,138,1) 0%, rgba(48,83,115,1) 100%);
background: linear-gradient(to bottom, rgba(56,98,138,1) 0%, rgba(48,83,115,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38628a', endColorstr='#305373', GradientType=0 );
	}
.head td div.titles a{color:#FFF;background:none;}
.infohead td{background:#BCBDC0;color:#000;font-style:italic;}
.infohead td form{display:inline;}
.head td a,.foot td a{color:#FFF;background:transparent}
.left_light,.left_dark{width:30%;}
.right_light,.right_dark{width:70%;}
tr.row_dark td,.left_light,.left_dark{background:#2B324D;}
tr.row_light td,.right_light,.right_dark{background:#161F40;}
tr.row_dark td a,tr.row_light td a{text-decoration:none;}
tr.row_dark td input,tr.row_dark td select{background:#B1B3BB;border:1px solid #1E2641;color:#000;}
tr.row_light td input,tr.row_light td select{background:#666D86;border:1px solid #0C132B;color:#000;}
.input_text_small,.input_text{color:#333;}
.input_text_med{width:60px;padding:0;margin:0;}
.input_text_small{width:20px;padding:0;margin:0;text-align:center;}
.input_text{width:150px;}
p.submit{text-align:right;}
/*p.submit input{background:#8b9db4;color:#FFF;font-weight:bold;font-size:12px;vertical-align:top;}*/
.titles{float:left;}
.links{float:left;color:#333333}


tr.head td{padding:0;vertical-align:top;}
tr.head td div{padding:3px 8px;}
tr.subhead td,
tr.foot td{padding:3px;}
tr.infohead td{padding:1px 3px;}
/* THUMBNAIL VIEWER */
#thumbBox{ /*Outermost DIV for thumbnail viewer*/
position: fixed;
left: 0px;
top: 0px;;
width: 690px;
text-align:center;
padding: 10px;
padding-bottom: 0;
background: #999999;
visibility: hidden;
z-index: 10;
cursor: hand;
cursor: pointer;
}

#thumbBox .footerbar{ /*Footer DIV of thumbbox that contains "close" link */
font: bold 12px Tahoma;
letter-spacing: 5px;
line-height: 1.1em;
color: white;
padding: 5px 0;
text-align: right;
}
.logobar{ /*Logo */
position: absolute;
width:77px;
height:48px;
right: 20px;
top: 20px;
z-index: 11;
cursor: hand;
cursor: pointer;
}


#thumbBox #thumbImage{ /*DIV within thumbbox that holds the enlarged image */
background-color: white;
margin:auto;
padding:10px;
}

#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
position: absolute;
visibility: hidden;
border: 1px solid black;
background-color: #EFEFEF;
padding: 5px;
z-index: 5;
}
#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000000;
}
/* SIDE MENU */
div#cart_menu h3{
	color:#555555;
	display:block;
	width:100%;
	margin:2px 3px;
	font-size:13px;
}
div#cart_menu ul{
	color:#777777;
	margin:0;
	padding:0;
	list-style:none outside none;
}
div#cart_menu ul li{
	color:#555555;
	display:block;
	list-style-type:none;
	width:100%;
	margin:0;
	padding:0;
}
div#cart_menu ul li a{
	color:#555555;
	display:block;
	font-weight:normal;
	width:100%;
}
div#cart_menu ul li a:hover{background:#FFFFFF}/* url(img/main/arrow2.gif) no-repeat 8px 1em;*/
div#cart_menu ul li a span{
	display:block;
	padding:5px 10px;
}
/* /SIDE MENU */

table.product{position:relative;width:100%;border-collapse:collapse;}
table.product tr td{
	color:#FFF;
	padding:0 10px;
	position:relative;
	z-index:1;
	border:0;
	border-bottom:1px solid #385276;
}
table.product tr td.empty{border:0;width:100%;}
table.product tr td h3{margin:10px 0;}
table.product tr td h3 a{color:#cd071e;font:bold 90% Arial, Helvetica, sans-serif}
table.product tr td.pimg a img{padding:2px;}
table.product tr td.pinfo{line-height:16px;width:100%;}
table.product tr td.pinfo span.pprice{
	clear:both;
	margin:1em 0;
	text-align:right;
	color:#687D96;
	font-weight:bold;
	font-size:12px;
}
td.pinfo a.headbold,td.pinfo a.titlesbold{font-size:14px;}
.pinfodesc{width:100%;height:82px;overflow:hidden}

/* PRODUCT DETAIL */
#cart_content div#mainimg{
	float:left;
	margin-bottom:1em;
	margin-right:30px
}
#cart_content div#mainimg a img{
	
}
#cart_content div#mainimg p{margin:0.5em 0;}
#cart_content div#choices{float:left;margin-bottom:10px;}
#cart_content div#choices h3{margin:0 0 0.2em;}
#cart_content div#choices p.price{color:#7e86a4;font-size:120%;}
#cart_content div#choices p{margin:0 0 0.2em;}
#cart_content div#choices label{}
#cart_content div#choices form p{margin:0 0 0.2em;}
#cart_content div#choices form div#addbasket{border-top:1px dotted #aaa;padding-top:0.6em;}
#cart_content div#details{clear:both;}
#cart_content div#reviews ul{
	background:#283459;
	border:1px solid #000;
	color:#aeafb5;
	margin:1em 0;
	padding:3px 10px;
}
#cart_content div#reviews ul li{
	background:transparent;
	line-height:150%;
	list-style:none outside none;
	margin:0.5em 0;
	padding:0 0 0 15px;
}
#cart_content div#reviews ul li a{color:#aeafb5;}
#cart_content div#reviews ul li a:hover{color:#c4c6cc;text-decoration:underline;}
#cart_content div#reviews form input.formbutton{margin:5px 0 0;}
#cart_content div#reviews strong{color:#bcbdc0;}
/* /PRODUCT DETAIL */

/* MY ACCOUNT */
#deptsubnav{
	/*background:#EBEBEB;
	border:1px solid #CCCCCC;*/
	color:#777777;
	margin:0 0 1em 0px;
	padding:3px 10px;
}
#deptsubnav li{
	
	line-height:150%;
	list-style:none outside none;
	margin:0.5em 0;
	padding:0 0 0 15px;
	display:inline-block;background:#EBEBEB;
	border:1px solid #CCCCCC;
}
#deptsubnav li a{color:#777777;}
#deptsubnav li a:hover{color:#777777;text-decoration:underline;}
/* /MY ACCOUNT */

/* SHOPPING BASKET */
#total{
	font-size:110%;
	margin:1em 0;
	padding:0;
	width:295px;
}
#total dt{
	float:left;
	font-weight:bold;
	width:200px;
}
#total dd{
	margin-left:201px;
	text-align:right;
}
table .price{
	color:#7e86a4;
	font-size:110%;
	font-weight:bold;
}/*
p.submit input, p.submit a {
	background: #ccc;
	color:#777;
	padding:1px 3px;
	vertical-align:middle;
	border:1px solid #81A8B8;
	letter-spacing:0.1em;
	-moz-border-radius:8px;	-webkit-border-radius:8px;
}*/
p.submit a {
}
a.formbutton{
	line-height:16px;
	display:inline-block;
	padding-left:8px;
	padding-right:8px;
	border:1px solid #CD071E;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}
a.formbutton:hover{
	color:#FFFFFF;
	text-decoration:none;
	cursor:default;
}
.pack_contents{border:1px solid #cccccc;background:#f9f9f9;padding:0px 3px;}
/* /SHOPPING BASKET */

/* PAYMENT */
.review{clear:both;}
.pg_content_left,.pg_content_right{width:250px;}
.pg_content_left{float:left;}
.pg_content_right{float:left;}
address{font-style:normal;}
#cart_review{margin-top:15px;}
#cart_review tr td{font-size:110%;padding:4px 35px 4px 0px;}
#cart_review tr td.desc{font-weight:bold;}
#cart_review tr td.desc span{font-size:80%;}
/* /PAYMENT */